body {
    margin: 0px;
    font-size: 90%;
    width: 100%;
}

ul#picker {
    list-style: none;
    padding: 8px;
    white-space: nowrap;
    font-weight: bold;
}

ul#picker li {
    padding-right: 18px;
    padding-left: 18px;
}

ul#picker li a, a:visited {
    color: #76b900;
    text-decoration: none;
}

ul#picker li.not-current:hover {
    background-color: #549000;
}

ul#picker li.not-current:hover a {
    color: #ffffff;
}
